{
  "db_name": "framespace",
  "keyspace_major": {
    "file": "/path/to/metadata_file.tsv",
    "name": "columnKeySrc",
    "keys": "samples",
    "axis": "sample",
    "tsv_keyspace_map": "basename"
  },
  "keyspace_minor": {
    "id": "gene_id",
    "name": "hugo.unc",
    "filter": "\\?",
    "axis": "gene"
  },
  "axes": [
    {"name": "sample", "description": "sample identifiers"}, 
    {"name": "gene", "description": "gene identifiers"}, 
    {"name": "clinical", "description": "clinical variables"}
  ],
  "units": [
    {"name": "tcga-gene-expression", "description": "RSEM expression estimates are normalized to set the upper quartile count at 1000 for gene level"}
  ]
}